.breadcrum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-left: 20px;
}
.image1 {
  width: 80%;
  height: 80vh;

  margin-top: 20px;
}
.text1 {
  margin-top: 30%;
}
.text2 {
  display: inline;
  margin-right: 10px;
}
.text2-light {
  font-weight: 300;
  text-decoration: line-through;
}
button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  background: #ff4141;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
